h1
{
    background-color: #9A8F8F;
    text-align: center;
    text-decoration: underline;
    color: black;
    text-transform: uppercase; 
}
h2:hover
{
    background-color: #9A8F8F;
    color:black;
}
li:hover
{
    background-color: darkgray; 
}
li
{
    margin: 0;
    border-style:double;
    border-color: red;
    
}

h2
{
    text-transform: capitalize;
    border-style: groove;
    border-color: gray;
    color: gray;
}

body
{
    color: white;
    background-color: #120D0D;
    font-family: verdana, arial, sans-serif;
}