body
{
    background-color: #E36DD5;
}

h1
{
    color: #820E74;
}

#Home img
{
    margin: auto;
}

#Home h1
{
    
}

#Home 
{
        text-align: center;
}

#Taal
{
    margin-left: 35%;
    margin-top: 21px;
}

#Taal a
{
    text-decoration: none;
    color: white;
}

#Taal li:hover
{
    background-color: aqua;
    
}

#Taal li
{
    background-color: #A02C92;
    display: inline;
    margin-left: 18px;
    padding: 25px;
    padding-left: 40px;
    padding-right: 35px;
}

/*#block1
{
    margin-top: 300px;
}
*/
