body
{
    background-image: url(IMG/achtergrond.jpg);
    background-size: 100%;
}

h1
{
    color: whitesmoke;
    text-align: center;
    font-size: 50px;
    background-color: darkred;
    opacity: 0.5;
}


#Home 
{
        text-align: center;
}
#Taal2
{
    text-align: center;
}

#Taal
{
    text-align: center;
    margin-top: 5%;
}

#Taal a
{
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    color: whitesmoke;
    font-size: 50px;
    border-style: groove;
    border-color: black;
    background-color: rgb(139, 0, 0 );
    text-decoration: none;
}

#Taal2 a
{
    padding-top: 2%;
    padding-bottom: 5%;
    padding-left: 6%;
    padding-right: 5%;
    color: whitesmoke;
    font-size: 50px;
    border-style: groove;
    border-color: black;
    background-color: rgb(139, 0, 0 );
    text-decoration: none; 
}

#Taal2 li a:hover
{
    background-image: url(IMG/frans.jpg);
    background-size: 100%;
    font-weight: bolder;
    font-size: 1.50em;
     color: black;
    font-size: 50px;
    opacity: 0.8;
}

#Taal li a:hover
{
    background-image: url(IMG/nederlands.jpg);
    background-size: 100%;
    font-weight: bolder;
    font-size: 1.50em;
     color: black;
    font-size: 50px;
    opacity: 0.8;
}

#Taal2 li
{
    list-style-type: none;
    margin: 5%; 
}

#Taal li
{
    list-style-type: none;
    margin: 5%;   
    background-image: url();
   /* padding: 25px;
    padding-left: 40px;
    padding-right: 35px;*/
}

/*#block1
{
    margin-top: 300px;
}
*/
